{% extends "base.html" %}


{% block conteudo %}

<!--p>
   <a href="/agendamentos/novo/volparc"><button>Novo Agendamento Voluntario parceiro</button></a>
    
 </p>
 <p>
    <a href="/agendamentos/novo/programa"><button>Novo Agendamento Programa</button></a>
 </p-->
 

<!--div class="d-grid gap-10 col-6 mx-auto"-->
<div class="container">
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm-8"><h2>Acompanhamentos</h2></div>
		<div class="col-sm"></div>
	</div>
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm-8"><h2>Geral</h2></div>
		<div class="col-sm"></div>
	</div>
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm-8">
			<div class="row" style="height: 150px;overflow-y: scroll">
				<table class="table">
					<thead>
						<tr>
						  <th scope="col">Área do Programa</th>
						  <th scope="col">Famílias em Acompanhamento</th>
						  <th scope="col">Completude Média</th>
						</tr>
					</thead>
					<tbody>
					<!--Área do Programa / Famílias em Acompanhamento / Completude Média-->
					 {% for acomp in acomp_histogram %}
						<tr>
							<td>{{ acomp.nome }}</td>
							<td>{{ acomp.numero }}</td>
							<td>{{ acomp.media }}</td>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm"></div>
	</div>
	<div class="row"><p></p></div>
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm-8"><h2>Por Familia</h2></div>
		<div class="col-sm"></div>
	</div>
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm-8">
			<div class="row" style="height: 150px;overflow-y: scroll">
				<table class="table">
					<thead>
						<tr>
						  <th scope="col">Familia</th>
						  <th scope="col">Área</th>
						  <th scope="col">Completude</th>
					</thead>
					<tbody>
						{% for fam in dados_familias %}
						<tr>
							<td>{{ fam.familia }}</td>
							<td>{{ fam.area }}</td>
							<td>{{ fam.completude }}</td>
						</tr>
						{% endfor %}
					</body>
				</table>
			</div>
		</div>
		<div class="col-sm"></div>
	</div>
</div>
<!--/div-->
{% endblock conteudo %}