{% extends "base.html" %}
{% block conteudo %}
<h2>Agendamentos</h2>

<h1>Do dia {{ hoje }} </h1>
{% for evento in v_dia %}
{{ evento.id }}
{{ evento.data_hora }}
{{ evento.tipo }}
{{ evento.id_tipo }}
{{ evento.id_familia }}
{% endfor %}

<h1>Da Semana - {{ semana }}</h1>
{% for evento in v_semana %}
{{ evento.id }}
{{ evento.data_hora }}
{{ evento.tipo }}
{{ evento.id_tipo }}
{{ evento.id_familia }}
{% endfor %}

<h1>Do mes - {{ mes }}</h1>
{% for evento in v_mes %}
{{ evento.id }}
{{ evento.data_hora }}
{{ evento.tipo }}
{{ evento.id_tipo }}
{{ evento.id_familia }}
{% endfor %}

<a href="/agendamentos/novo/volparc"><button>Novo Agendamento</button></a>

{% endblock conteudo %}