{% extends "base.html" %}

{% block conteudo %}

<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h2>Trilha da Evolução</h2>
    </div>
    <div class="col">
    </div>
	</div>
	<div class="row">
    <div class="col">
    </div>
    <div class="col">
      <p>Um texto poderá vir aqui descrevendo a instituição e a ferramenta, pode acrescentar alguma foto talvez.</p>
    </div>
    <div class="col">
    </div>
  </div>
</div>

{% endblock conteudo %}

